<%if route.tail_number%>
STARTTAILNUM
<%=route.tail_number%>
ENDTAILNUM
<%end%>
<%if route.plane_name%>

STARTAIRCRAFT
<%=route.plane_name%>
ENDAIRCRAFT
<%end%>
<%if route.aircraft_type%>

STARTAIRCRAFTTYPE
<%=route.aircraft_type%>
ENDAIRCRAFTTYPE
<%end%>
<%if route.operator%>

STARTOPERATOR
<%=route.operator%>
ENDOPERATOR
<%end%>

STARTRUNWAY
<%=route.runway%>
ENDRUNWAY

START_PARKING_CENTER
<%=route.spot%>
END_PARKING_CENTER

STARTSTEERPOINTS
<%route.points.each do |point|%>
<%=point.latitude%> <%=point.longtitude%> <%=point.speed%> <%=point.heading%> <%=point.description%> <%=point.cid%> <%=point.rwy_twy_name%>
<%end%>
ENDSTEERPOINTS
