<%=form_tag(ground_routes_import_path, method: "post", multipart: true) do%>
    <%= file_field_tag "file" %>
    <%= submit_tag %>
<%end%>

<% @airport.ground_routes.each do |route| %>
<section>
    <h1>Route name: <%=route.name%></h1>
    <h2>File name: <%=route.filename%></h2>

    <%if route.tail_number%>
    <code>
        STARTTAILNUM<br/>
        <%=route.tail_number%><br/>
        ENDTAILNUM<br/><br/>
    </code>
    <%end%>
    
    <%if route.plane_name%>
    <code>
        STARTAIRCRAFT<br/>
        <%=route.plane_name%><br/>
        ENDAIRCRAFT<br/><br/>
    </code>
    <%end%>
    
    <%if route.aircraft_type%>
    <code>
        STARTAIRCRAFTTYPE<br/>
        <%=route.aircraft_type%><br/>
        ENDAIRCRAFTTYPE<br/><br/>
    </code>
    <%end%>
    
    <%if route.operator%>
    <code>
        STARTOPERATOR<br/>
        <%=route.operator%><br/>
        ENDOPERATOR<br/><br/>
    </code>
    <%end%>
    
    <code>
        STARTRUNWAY<br/>
        <%=route.runway%><br/>
        ENDRUNWAY<br/><br/>
    </code>
    
    <code>
        START_PARKING_CENTER<br/>
        <%=route.spot%><br/>
        END_PARKING_CENTER<br/><br/>
    </code>

    
    <table>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Speed</th>
            <th>Heading</th>
            <th>Description</th>
            <th>CID</th>
            <th>Rwy/Twy Name</th>
        </tr>
    </table>
    <table>
    <code>
    STARTSTEERPOINTS<br/>
    <table>
    <%route.points.each do |point|%>
        <tr>
            <td><%=point.latitude%></td>
            <td><%=point.longtitude%></td>
            <td><%=point.speed%></td>
            <td><%=point.heading%></td>
            <td><%=point.description%></td>
            <td><%=point.cid%></td>
            <td><%=point.rwy_twy_name%></td>
            <td></td>
        </tr>
    <%end%>
    </table>
    ENDSTEERPOINTS</br/>
    </code>
</section>
<% end if @airport.present? %>